.projects-left-side{
  border: 1px solid red;
  display: none;
}
.projects-right-side{
  border: 1px solid red;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.project-item{
width: 20rem;
height: 15rem;
transition: all 4s;
}

.project-item:hover{
  position: absolute;
  cursor: pointer;
  font-size: 1.4rem;
}



