.heading{
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.16rem solid var(--primary-dark);
  padding:0 2rem;
  margin-bottom: 1rem;
  }

  nav button{
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    font-size: large;
    color: var(--primary-dark);
    border: none;
    border-right: 0.16rem solid var(--primary-dark);
  }
  
  nav button:hover{
    color: var(--primary-white);
    box-shadow: inset 0 -0.16rem 0 0 var(--tertiary-green);
    
  }

  .active{
    /* box-shadow: inset 0 -0.16rem 0 0 var(--tertiary-green); */
    color: var(--tertiary-green);
  }
  